body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #ff7f50, #ffb6c1, #f0f8ff); 
    background-size: cover;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px; /* ضبط عرض الحقول */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* لون أخضر */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f0f0f0; /* لون رمادي فاتح للقدم */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007bff; /* لون للرابط */
    text-decoration: none; /* إزالة خط تحت الرابط */
}

.contact {
    text-align: center; /* مركز النص */
    margin: 10px 0; /* تباعد أعلى وأسفل */
}
